<div class="container mt-5">
  <h1 class="col mt-5 text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-5 text-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/image/team/tew.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">นายชินธันย์ เรื่องกิตต์ธนวัต</h5>
            <p class="card-text">ปวส.1/4</p>
            <a href="#" class="btn btn-primary">ติว</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/image/team/mix.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">นายธนารักษ์ แสงกล้า</h5>
            <p class="card-text">ปวส.1/4</p>
            <a href="#" class="btn btn-primary">มิกส์</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/image/team/bank.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">นายธนบดินทร์ ศิรี</h5>
            <p class="card-text">ปวส.1/4</p>
            <a href="#" class="btn btn-primary">เเบงค์</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/image/team/arm.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">นายกิติพงศ์ เเยมโสพิษ</h5>
            <p class="card-text">ปวส.1/4</p>
            <a href="#" class="btn btn-primary">อาร์ม</a>
          </div>
        </div>
      </div>

  </div>
</div>
