<div class="container mt-5">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="assets/image/Homepage.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/Homepage2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/Homepage3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<h1>ที่เที่ยวสุราษฎร์ธานี</h1>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">ที่ท้องเที่ยวใน สุราษฎร์ธานี</h5>
    <p class="card-text">สุราษฎร์ธานี มักจะเรียกกันด้วยชื่อสั้น ๆ ว่า สุราษฎร์ฯ ใช้อักษรย่อ สฎ เป็นจังหวัดในภาคใต้ตอนบน มีพื้นที่ขนาดใหญ่ที่สุดในภาคใต้
      และเป็นอันดับ 6 ของประเทศไทย และมีประชากรหนาแน่นอันดับ 59 ของประเทศ นับเป็นจังหวัดหนึ่งที่มีประวัติศาสตร์ยาวนาน มีหลักฐานทั้งประวัติศาสตร์และโบราณคดีเก่าแก่
      และยังมีแหล่งท่องเที่ยวและอุทยานแห่งชาติหลายแห่ง มีจังหวัดที่อยู่ติดกันได้แก่ ชุมพร นครศรีธรรมราช กระบี่ พังงา และระนอง </p>
    <a class="nav-link active" aria-current="page" routerLink="/about" class="btn btn-primary">ดูเพิ่มเติม</a>
  </div>
</div>
</div>
